modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5060
externalPort = 3000

[[ports]]
localPort = 5061
externalPort = 3001

[[ports]]
localPort = 5062
externalPort = 3002

[[ports]]
localPort = 5063
externalPort = 3003

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0"]
expertMode = true

[userenv]

[userenv.shared]
PORT = "5000"
NODE_ENV = "development"
CORS_ALLOW_ALL = "true"
TRIAL_PERIOD_DAYS = "60"
MAILGUN_DOMAIN = "mg.mysalon.me"
MAILGUN_SENDER_EMAIL = "noreply@mysalon.me"
MAILGUN_FROM_EMAIL = "noreply@mysalon.me"
MAILGUN_FROM_NAME = "Toby"
CORS_ORIGINS = "https://dashboard.certxa.com,https://mysalon.me"
GOOGLE_CLIENT_ID = "1085460104488-nhs437qp1on1tgshp577s6pjdl4ltqvk.apps.googleusercontent.com"
TWILIO_PHONE_NUMBER = "+18888147623"
ACTIVE_GROUPS = "3"

[userenv.development]
GOOGLE_REDIRECT_URI = "https://67119edb-b869-414f-a3a6-ab37c644cbfa-00-3e6a27unge8n7.riker.replit.dev/google-business"

[userenv.production]
GOOGLE_REDIRECT_URI = "https://dashboard.certxa.com/google-business"
