@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #1C1C1C;
  }
  ::-webkit-scrollbar-thumb {
    background: #D4AF6A;
    border-radius: 3px;
  }
}

@layer utilities {
  .font-800 {
    font-weight: 800;
  }
  .font-300 {
    font-weight: 300;
  }
  .font-600 {
    font-weight: 600;
  }
}
